/*

COLOR SCHEME

dollar green: #85BB65
dollar white: #F9F9F1
sea green: #228d57
black olive: #3e3e3c

*/

body{
  font-family: Arial;
  height: 100%;
}

html, body{
  padding: 0;
  margin: 0;
  color: #3e3e3c;
}
html{
  height: 100%;
  background-color: #F9F9F1;
  width: 100%;
}

h1{
  font-size: calc(1.5vw + 1.5vh + 2vmin);
}

h3{
  color:#254E70;
  font-size: 18px;
}

p{
  font-size: calc(0.05vw + 0.05vh + 3);
}

.scaledText{
  font-size: calc(0.25vw + 0.25vh + 2);
}

.headBanner{
  background-color:#85BB65;
  height: auto;
  width: 100%;
  overflow:auto;
  color: #3e3e3c;

}

th{
  text-align: left;
  padding-left: 16px;
}

.logoContainer{
  height: calc(100% - 16px);
  padding: 8px;
  color: white;
  font-size: calc(1.5vw + 1.5vh + 2vmin);
  font-weight: 400;
  vertical-align: middle;
}

.logoWriting{
  height: 100%;

}

.spacerMargin{
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 50px;
}

.getResult{

}

.iteration{
  margin: 15px;
  border: solid #3e3e3c 2px;
  padding: 10px
}

.content{
  margin: auto;
  max-width: 1000px;
}


.main{
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  font-size: 18px;
  margin-bottom: 50px;
}

.row{
  display:flex;
  flex-direction:row;
  width: 100%;
  margin-bottom: 25px;
}

.padding-10{
  padding: 10px;
}

.padding-bottom-15px{
  padding-bottom: 15px;
}

.subComponent{
  margin: auto 15px auto 15px;
}

.spacedText{
  line-height: 1.8;
  padding-bottom: 40px;
}

.label{
  font-size: 18px;
  padding: 0 15px 0 15px;
}

.dropDown{
  min-width: 200px;
  height: 50px;
}

.scrollable{
  overflow-y: scroll;
}

.modalDiv{
  padding: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
}

.fullWidth{
  width: 100%;
  float: left;
  display: inline;
}

.wrapper{
  display: inline;
}

@media(max-width: 750px) {
  .spacerMargin {
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 50px;

  }
}
